header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: #302e74;
    position: absolute;
    width: 100%;
    top: 4px;
}

header>h1{
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    background-color: #535178;

}

h1{
    text-shadow: 2px 2px 2px #000000;
    text-align: start;
    color: rgb(255, 255, 255);
}

main{
    margin-top: 5%;
    color: rgb(187, 210, 217);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px));
    grid-gap: 20px;
    padding: 20px;
        
}

h2{

    font-size: 25px;

}

p{
    font-size: 20px;
}